

.name {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.city{
    font-size: 50px;
    text-align: center;
}
.p{
    font-size: 50px;
}
.places{
    display: flex;
}
h1{
    text-align: center;
}
.Foregn{
   text-align: center;
}

.image1{
    width: 360px;
    height: 280px; 
}

.dubai {
    width: 350px;
}
table , th ,td {
    border: 3px solid black;
    border-collapse: collapse;
    width: 800px;
}
.image2{
    width: 345px;
    height: 280px;
}
.image3{
    width:345px;
    height: 280px;
}
.image4{
    width: 345px;
    height: 280px;
}

.left{
    float: left;
}
.right{
    float: right;
}

.header{
    display: flex;
    justify-content: center;
    column-gap:40px ;
}
/*----------------------------------------------------------------------------*/
.city-main{
    display:flex;
    justify-content: center;
    column-gap: 200px;
}
.things{
     display: flex;
     flex-direction: row;  
     gap: 20px;
}
.uae > p {
 align-self: center;
}
body {
    background-color:grey; 
    margin: 0px 150px 0px 150px;
}
.places{
    display:flex;
    flex-direction: row;
}
.places > h2{
    display: flex;
    align-self: flex-start;
}
.good{
    display: flex;
    gap: 20px;
    align-items:start; 

}
.image-box {
    float: left;
}
.city{
    text-align: center;
}
.heading{
    align-items: center;
}
.table{
    display: flex;
    justify-content: center;
}
.language > p {
    text-align:center;
}
@media screen  and (max-width:680px){
    .header {
        font-size:30px;
        flex-direction: column;
    }
    .name{
        font-size: 30px;
    }
    .image1{
        width:260px;
        height: 200px;
    }
    .places {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        text-align:center;
    }
    .things{
        flex-direction: column;
    }
    .dubai{
      width:260px;
      height: 200px;
      float: right;
    }
    .city{
        font-size: 30px;
    }
}


    

